.background {

    top: 100px;
    left: 0;
    width:  100%;
    height: 450px;
    background-color: rgba(0, 116, 0, 0.87)   ; 
}
.background2 {
    top: 100px;
    left: 0;
    width:  100%;
    height: 450px;
    background-color: rgba(0, 83, 116, 0.87)   ; 
}